<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284366139562-38kk2k0vfqh9g3b29mc3kabufk04026c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284366139562-38kk2k0vfqh9g3b29mc3kabufk04026c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>284366139562-0lhgbrffns3hrff0nmtko575pkiuakh6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMrR3CIxMdzCpGhOkCRTBMu5Sg8BlJkI4</string>
	<key>GCM_SENDER_ID</key>
	<string>284366139562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaja.customer</string>
	<key>PROJECT_ID</key>
	<string>jajachat-e052d</string>
	<key>STORAGE_BUCKET</key>
	<string>jajachat-e052d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284366139562:ios:3c910e4aa7cd1853e1a0d3</string>
	<key>DATABASE_URL</key>
	<string>https://jajachat-e052d-default-rtdb.firebaseio.com</string>
</dict>
</plist>